@page "/"
@using Microsoft.IdentityModel.Tokens
@inject Branding branding
@inject HoneybunSettings honeybunSettings

<PageTitle>Index</PageTitle>

<h1>@branding.AppName</h1>

<p>Authority: @honeybunSettings.Authority</p>
<p>Client Id: @honeybunSettings.ClientId</p>
<p>Client Secret: @(honeybunSettings.ClientSecret.IsNullOrEmpty() ? "NOT FOUND" : "FOUND")</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name !</h1>

        <p>Welcome to your new app.</p>

        @foreach(var claim in context.User.Claims)
        {
            <p>
                @claim.Type | @claim.Value
            </p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Parameter] public AuthenticationState State { get; set; } = null!;

}